
.portfolio-app {
    display: flex;
    flex-direction: column;

}
.title{
    margin: 20px;
    background-color: grey;
    color: white;
    /* top, right, bottom, left */
    padding: 20px 0px 20px 20px;
    border-radius: 10px;
    margin: 20px 50px 0px 50px;
}

.page{
}

/* navbar/header */
.nav{
    background-color:grey;
    justify-content: space-between;
}
.nav h1{
    padding-left: 20px;
    padding-top: 25px;
    color: white;
}
.nav li{
    padding: 20px;
    margin: 20px;
}
.text{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: white;

}


/* home page */

.homeHeader{
    display: flex;
    flex-direction: column;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    opacity: 0;
    margin: 30px;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    color: rgb(99, 99, 99);
}

.homeIntro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* about page */
.about-page {
    animation: fadeIn 3s;
    display: flex;
    justify-content: space-between;
    margin: 25px 50px;
}

.picture{
    border-radius: 10px;
}

.description{
    float: right;
    margin-left: 20px;
    padding: 15px;
    border-radius: 20px;
    color: black;
}



/* contact page */
.contactForm {
    display: flex;
    max-width: 230px;
    justify-content: space-between;
    margin: 20px 0px 50px 50px;
    background-color: grey;
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
    color: white;
    animation: fadeIn 3s;

}

.contact-item{
    display: flex;
    flex-direction: column;
}

.invalidMessage{
    color: red;
}
.validMessage{
    color: green;
}


/* portfolio page */


.portfolio{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 50px;

}


.portfolio-item{
    display: flex;
    border: solid black;
    animation: fadeIn 5s;
    opacity: 0.9;
    text-decoration: none;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    min-width: 400px;
    min-height: 200px;
}

.portfolio-item:hover{
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.project-name {
    color: rgb(8, 13, 19);
    text-decoration: none;
    display: flex;
    align-items:flex-end;
    /* background-color: aqua; */
    position: relative;
    margin-top: 100px;
}


.portfolio-item-1{
    background-image: url('images/doggy-daycare.JPG');
}

.portfolio-item-2{
    background-image: url('images/gamespace.JPG');
}

.portfolio-item-3{
    background-image: url('images/gamespace.JPG');
}

.portfolio-item-4{
    background-image: url('images/Social-NetworkAPI.JPG');
}
.portfolio-item-5{
    background-image: url('images/Social-NetworkAPI.JPG');
}

/* fade */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/* resume page */
.resume-page{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0px 30px 60px;
    animation: fadeIn 3s;
}

.buttonContainer{
    max-width: 260px;
}
.resumeButton{
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 20px;

}

.resumeSkills{
    margin-left: 30px;
}

/* footer */
.footer{
    display: flex;
    justify-content: center;
    margin: 30px;
}


/* page background */

.clouds {
	/* position:absolute; */
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.clouds{
	z-index: 2;
    background:transparent url('https://i.imgur.com/mHbScrQ.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}